<clr-datagrid [(clrDgSingleSelected)]="candidateSelected" [clDgRowSelection]="true">
  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-success-outline" (click)="onCreate()">
        <clr-icon shape="plus"></clr-icon> Adicionar
      </button>
      <button type="button" class="btn btn-sm btn-danger-outline" (click)="onDelete()"
        [disabled]="!candidateSelected">
        <clr-icon shape="close"></clr-icon> Deletar
      </button>
      <button type="button" class="btn btn-sm btn-secondary" (click)="onEdit()" [disabled]="!candidateSelected">
        <clr-icon shape="pencil"></clr-icon> Editar
      </button>
    </div>
  </clr-dg-action-bar>
  <clr-dg-placeholder>Sem Candidatos cadastrados!</clr-dg-placeholder>
  <clr-dg-column [clrDgField]="'name'">Nome</clr-dg-column>
  <clr-dg-column [clrDgField]="'email'">Email</clr-dg-column>
  <clr-dg-column [clrDgField]="'phone'">Telefone</clr-dg-column>
  <clr-dg-row *clrDgItems="let candidate of candidates" [clrDgItem]="candidate" (dblclick)="onEdit()">
    <clr-dg-cell>{{ candidate.name }}</clr-dg-cell>
    <clr-dg-cell>{{ candidate.email }}</clr-dg-cell>
    <clr-dg-cell>{{ candidate.phone }}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} de {{pagination.totalItems}} Candidatos
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>