img {
    margin-top: 3%;
}

h2 {
    text-align: center;
    font-weight: 600;
    color: #a6ce39;
}

[center] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.panel {
    margin-top: 1rem;
    background-color: #fff;
    width: 500px;
    height: 400px;
    border: 1px #ededed solid;
    border-radius: 5px;
    padding: 1rem;
}

.clr-row {
    margin-right: 0 !important;
    margin-left: 0 !important;  
}