body {
    background-color: #fafafa;   
}

[input-delinea] {
    border-radius: 3px !important;
    border-style: solid !important;
    font-size: 14px;
    justify-content: space-between;
    border-color: rgb(223, 225, 230) !important;
    border-width: 2px !important;
    padding: 6px !important;
    min-height: 40px;
    color: #4e4e4e !important;
}

[input-delinea]:focus {
    border-color:#00b0ef !important;
    background: none;
}

input[type="date"]:not([readonly]), input[type="datetime-local"]:not([readonly]), input[type="email"]:not([readonly]), input[type="number"]:not([readonly]), input[type="password"]:not([readonly]), input[type="tel"]:not([readonly]), input[type="text"]:not([readonly]), input[type="time"]:not([readonly]), input[type="url"]:not([readonly]) {
    background: none !important;
}

.form-group {
    padding-top: 1.6rem;
}